* {
  box-sizing: border-box;
}
.content {
  font-size: 13px;
}
.content img,
.content video {
  max-width: 30vw;
  max-height: 30vw;
  min-width: 10vw;
  min-height: 10vw;
}
.content .elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content .element-item {
  width: 30vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eee;
  margin: 5px 2px;
  justify-content: center;
  cursor: pointer;
}
.content .element-item:hover {
  border-color: grey;
}
.content .element-item span {
  text-align: center;
}
.content .element-item.file {
  width: 100vw;
  justify-content: start;
  align-items: self-start;
  border: none;
}
.content .element-item.video {
  width: 40vw;
}
.content .element-item.video video {
  width: 40vw;
  height: auto;
  max-width: max-content;
  max-height: max-content;
}
.content .element-item.video .btn-play {
  color: blue;
  text-decoration: underline;
}
.content code,
.content .code {
  border-color: #f00;
  border-left-style: solid;
  border-left-width: 2px;
  display: block;
  margin-left: 5px;
  padding-left: 5px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
ul {
  padding-left: 10px;
}
a {
  color: dodgerblue;
}
ul.catalog {
  border: 1px solid #eeeeee;
  padding: 5px 15px;
  list-style: decimal;
  padding-left: 30px;
}
ul.catalog a {
  flex-grow: 1;
  font-size: 16px;
}
.new-flag {
  color: red;
  margin-left: 5px;
  font-size: 0.6em;
}
